@model WeatherData
@{
    double temparature = Model.main.temp - 273.15;
    string location = Model.name;
    string country = Model.sys.country;
}
    <h2>Weather Information of @location</h2>
        <div >
            <p>Country: @country</p>
            <p><Coordinates:Lat: @Model.coord?.latitude, Lon: @Model.coord?.longitude</p>
            <p>Temperature: @temparature.ToString("N2") &deg;C</p>
            <p>Weather Description: @Model.weather?[0].description</p>
        </div>
